--- 
--- 

$primary: #2B5598;

$primary-light: #e6e6e6;

$accent: #7690A7;

$font-normal: 400;
$font-light: 200;
$font-bold: 500;
$font-bolder: 700;

$font-small: 90%;

$primary-font: 'Roboto Mono';

@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap";


a {
  color: $primary;

  &:hover {
    color: $accent;
  }
}

#logos {
  display: flex;
  justify-content: center;

  img {
    height: 1.5rem;
    margin: 1rem;
  }
}

.titlebox{
  margin-bottom: 2rem;
}

// IMPORTS

@import "typography";
@import "navbar";
@import "blog";
@import "syntax-highlighter";