---
# This is the main css file. I will use imports to handle different
# sections of css styles.
---

// Hello

$primary: #005588;

$primary-light: #e6e6e6;

$accent: #3872ee;

$light-bg: $primary-light;

$font-normal: 400;
$font-light: 200;
$font-bold: 500;
$font-bolder: 700;

$font-small: 90%;

$primary-font: 'Roboto Mono';

@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap";


a {
  color: $primary;

  &:hover{
    color: $accent;
  }
}

#logos {
  display: flex;
  justify-content: center;
  img {
  height: 1.5rem;
  margin: 1rem;
}
}

// IMPORTS

@import "typography";
@import "navbar";

