{
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "importOrder": [
    "<TYPES>",
    "",
    "<TYPES>^[.]",
    "",
    "<BUILT_IN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "i18n/(.*)$",
    "utils/(.*)$",
    "",
    "layouts/(.*)$",
    "components/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["prettier-plugin-astro", "@ianvs/prettier-plugin-sort-imports"]
}
