---
layout: fullcv
isfull: 1
---

{% include education.html %}

{% include professional.html %}

<div class="row section" id="areas">
  <div class="col-6">
    <h2>Areas of specialization</h2>
    <ul>
      <li>Philosophy of emotions</li>
      <li>General philosophy of science</li>
      <li>Philosophy of psychology and neuroscience</li>
    </ul>
  </div>
  <div class="col-6">
    <h2>Areas of competence</h2>
    <ul>
      <li>Philosophy of mind</li>
      <li>Analytic philosophy</li>
      <li>Modern philosophy</li>
    </ul>
  </div>
</div>


<div class="section">
  {% include publications.html %}
</div>

{% include additional.html %}

<div class="section">
  {% include scholarships.html %}
</div>

<div class="section">
  {% include talks_full.html %}
</div>
