<div id="education" style="padding-bottom:1em">
  <h2> Education </h2>

  {% assign universities = site.data.education | group_by:"university" %}

  {% for education in universities %}
  <div class="university">
    <h4>{{ education.name }}</h4>

    <p class="university_city">{{ education.items[0].city[page.lang] }}</p>

    {% for item in education.items %}
    <div class="row cv_entry">
      <div class="col-md-12 col-lg-4 col-xl-3">
        <strong>{{ item.degree[page.lang] }}</strong>
        <p>{{ item.dates }}</p>

      </div>
      <div class="col">
        {{ item.info[page.lang] | newline_to_br }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>
