<div id="header" class="container d-none d-lg-flex">

  <div id="name">
    <h1 class="display-2"> Juan R. Loaiza </h1>

    <p class="lead">
      {% if page.lang == "en" %}
      Philosopher - Doctoral candidate at the Berlin School of Mind and Brain.
      {% else %}
      Filósofo - Candidato doctoral de la Berlin School of Mind and Brain.
      {% endif %}</p>

    <div id="langs">
      {% if page.lang == "en" %}
      <b>EN</b> | <a href="{{ page.mirror }}">ES</a>
      {% else %}
      <a href="{{ page.mirror }}">EN</a> | <b>ES</b>
      {% endif %}
    </div>
  </div>


  <div id="picture">
    <img src="{{ site.baseurl }}/assets/academic_loaiza.png" />
  </div>

</div>
