<div class="container the-navbar">

  <div class="columns">
    <div class="column"></div>

    <div class="column is-three-quarters">
      <nav class="navbar" role="navigation" aria-label="main navigation">


        <div class="navbar-menu">
          <div class="navbar-start">
            {% for pg in site.data.navbar %}
            <a class="navbar-item" href="{{ site.baseurl }}{{ pg.url[page.lang] }}">
              {{ pg.title[page.lang] }}
            </a>
            {% endfor %}
          </div>
        </div>

        <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.baseurl }}{% if page.lang=='es' %}/{% endif %}">Juan R. Loaiza</a>
          <div class="navbar-item" id="lang-toggle">
            {% if page.lang == 'es' %}
            <a href="{{ site.baseurl }}/{{ page.mirror }}">EN/</a>ES
            {% else %}
            EN<a href="{{ site.baseurl }}/{{ page.mirror }}">/ES</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>

    <div class="column"></div>

  </div>

</div>