<nav class="navbar navbar-expand-lg d-flex justify-content-between">
  <div class="container">


    <ul class="navbar-nav collapse navbar-collapse" id="the-navbar">
      {% for pg in site.data.navbar %}
      <li class="nav-item">
        {% if page.url == pg.url %}
        {% assign class = 'nav-link active' %}
        {% else %}
        {% assign class = 'nav-link' %}
        {% endif %}
        <a class="{{ class }}" href={{ site.baseurl }} {{ pg.url[page.lang] }}>
          {{ pg.title[page.lang] }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="navbar-brand">
      <a href="{{ site.url }}{% if page.lang=='es' %}/es/{% endif %}">Juan R. Loaiza</a>
      <div id="lang-toggle">
        {% if page.lang == 'es' %}
        <a href="{{ site.baseurl }}/{{ page.mirror }}">EN/</a>ES
        {% else %}
        EN<a href="{{ site.baseurl }}/{{ page.mirror }}">/ES</a>
        {% endif %}
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#the-navbar" aria-controls="the-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <img class="navbar-toggler-icon" src="/img/icons/menu-collapse.png"/></button>
  </div>


</nav>
