<img id="photo" src="{{ site.baseurl }}/img/academic_loaiza.png" />
<h3> Juan R. Loaiza </h3>
<p> {{ site.data.sidebar.byline[page.lang] }} </p>

<ul class="list-unstyled">
  {% for item in site.data.sidebar.contact %}
  <li class="contact-list">
    <a {% if item.icon=='email' %}onmouseover="resolve(this)" {% endif %} href="{{ item.url }}">
      <img class="icon" src="{{ site.baseurl }}/img/icons/{{ item.icon }}.png">
      {% if item.icon=='email' %} {{ item.text | replace: '(at)', '@<span style="display:none">ignorethis</span>'}} {% else %}
      {{ item.text }}
      {% endif %}
    </a>
  </li>
  {% if forloop.index == 2 %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>

<script>
  function resolve(tag) {
    a = 'loa';
    b = 'jua';
    c = 'n';
    d = 'iza';
    e = 'hu';

    email = a + d;
    email = email + '.' + b;
    email = email + c + '@';
    email = email + e + '-'

    tag.href = 'mailto: ' + email + 'berlin.de'
  }
</script>
