.post-content {
    margin-top: 1rem;
    max-width: 75ch;
    font-size: 18px;
}

.post-prev-next {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.next-posts {
    margin-bottom: 1rem;
}

.highlighter-rouge,
iframe {
    margin: 1rem 0;
}