nav {
  box-shadow: 0px 1px 5px $primary-light;

  a {
    position: relative;

    &:after {
      transition: all 0.5s;
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '.';
      color: transparent;
      background: $primary-light;
      height: 2px;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
