body {
  font-family: $primary-font;
  font-weight: $font-normal;
}

.title {
  font-size: 60px;
  font-weight: 400;
  font-family: "Roboto Mono";
}

p {
  margin-bottom: 1rem;
}

// Headers
.content h1 {
  font-size: 28px;
}

strong {
  font-weight: $font-bold;
}

#cv h4 {
  margin-bottom: 0;
}

//
// Other general classes
// All of these share the same light weight font.


// Card footers for blog entries

.card-footer {
  font-size: $font-small;
}