body {
  font-family: $primary-font;
  font-weight: $font-normal;
}

.title {
  font-size: 60px;
  font-weight: 400;
  font-family: "Roboto Mono";
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

// Headers
.content h1 {
  font-size: 28px;
  display: grid;
  justify-content: center;
  padding-bottom: 1rem;
}

strong {
  font-weight: $font-bold;
}

#cv h4 {
  margin-bottom: 0;
}

table {
  font-size: 18px;
}