@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");


@import "tailwindcss";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: "Schibsted Grotesk", ui-sans-serif, system-ui, sans-serif,
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-heading: "Fira Sans";

    /* CSS HEX */
    --color-background: #fdfdfd;
    --color-primary: #2467b2;
    --color-primary-light: #b8bccc;
    --color-accent: #bf616a;
}

[data-theme='dark'] {
    --color-primary: #ecb474;
    --color-accent: #be7c82;

    ::selection {
        background-color: #455966;
    }
}

body {
    padding-bottom: 50px;
}

h1,
h2 {
    font-family: var(--font-heading);
}