:root {
    --atom-bg: #fafafa;
    --atom-text: #383a42;
    --atom-comment: #a0a1a7;
    --atom-keyword: #a626a4;
    --atom-operator: #0184bc;
    --atom-function: #162c5e;
    --atom-variable: #e45649;
    --atom-string: #50a14f;
    --atom-number: #986801;
    --atom-type: #c18401;
    --atom-constant: #986801;
    --atom-deleted: #ca1243;
    --atom-inserted: #50a14f;
    --atom-border: #eaeaea;
  }
  