.md-content {
  p {
    margin-bottom: 0.75rem;
  }

  a {
    color: var(--color-highlight);

    &:hover{
      color: var(--color-red)
    }
  }

  h3, h4 {
    font-weight: bold;
    a {
      color: var(--text-gray-700)
    }
  }
  
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: var(--text-2xl)
  }
  
  h4{
    margin-bottom: 0.5rem;
    font-size: var(--text-xl)
  }
  hr {
    margin: 2rem 0;
  }
}