---
layout: main
title: Charlas selectas
lang: es
mirror: en/talks.html
---


{% for talk in site.data.talks limit:10 %}
<div class="columns">
  <div class="column is-1">
    {{ talk.date | date:'%m.%Y' }}
  </div>
  <div class="column">
    <strong class="">{{ talk.title }}</strong>
    <div class="">
      {% if talk.conference.en %}
      {{ talk.conference.en }}
      {% else %}
      {{ talk.conference }}
      {% endif %}

      <br>

      {% if talk.organizer %}
      {% if talk.organizer.es %}
      {{ talk.organizer.en }}<br>

      {% else %}
      {{ talk.organizer }}<br>

      {% endif %}
      {% endif %}

      {% if talk.institution %}
      {{ talk.institution }}<br>
      {% endif %}

      {% if talk.city.en %}
      {{ talk.city.es }}
      {% else %}
      {{ talk.city }}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
