---
layout: fullcv
isfull: 1
lang: es
---

{% include es/education.html %}

{% include es/professional.html %}

<div class="row section" id="areas">
  <div class="col-6">
    <h2>Áreas de especialización</h2>
    <ul>
      <li>Filosofía de las emociones</li>
      <li>Filosofía general de las ciencias</li>
      <li>Filosofía de la psicología y de las neurociencias</li>
    </ul>
  </div>
  <div class="col-6">
    <h2>Áreas de competencia</h2>
    <ul>
      <li>Filosofía de la mente</li>
      <li>Filosofía analítica</li>
      <li>Filosofía moderna</li>
    </ul>
  </div>
</div>


<div class="section">
  {% include es/publications.html %}
</div>

{% include es/additional.html %}

<div class="section">
  {% include es/scholarships.html %}
</div>

<div class="section">
  {% include es/talks_full.html %}
</div>
