---
layout: main
lang: es
title: Publicaciones
mirror: en/publications.html
---

{% assign pubs = site.data.publications | group_by:"year" %}

{% for year in pubs %}

<h4 style="margin-top: 2rem"> {{ year.name | replace: "Forthcoming", "En prensa"}} </h4>

{% for pub in year.items %}
<div>
  <div style="margin-top: 1rem" class="">
    <strong> {{ pub.title }}</strong><br>
    <span class="">
      {{ pub.authors }} <br>
      {{ pub.reference | markdownify | remove: '<p>' | remove: '</p>' | newline_to_br }}
      {% if pub.doi %}
      doi: <a href="http://doi.org/{{ pub.doi }}">{{ pub.doi }}</a>
      {% endif %}
    </span>
  </div>
  <div style="margin-top: 0.5rem" class="">
    {% if pub.url %}
    <a href="{{ pub.url }}"><img src="{{ site.baseurl }}/img/icons/web.png" width="32" /></a>
    {% endif %}

    {% if pub.pdf %}
    <a href="{{ site.baseurl }}/pdf/{{ pub.pdf }}"><img src="{{ site.baseurl }}/img/icons/pdf.png" width="32" /></a>
    {% endif %}

  </div>
</div>
{% endfor %}


{% endfor %}