<div>
  <h2> Experiencia profesional </h2>

  {% for experience in site.data.experience %}
  <div class="columns">
    <div class="column is-3">
     {{ experience.dates | replace: "present", "presente"  }}
    </div>

    <div class="column">
      <h4>{{ experience.institution }}</h4>
    <p>{{ experience.city[page.lang] }}</p>

      <strong>{{ experience.position[page.lang] }}</strong><br>

      {{ experience.info[page.lang] | newline_to_br }}<br>
      {% if experience.courses %}
      Cursos:
      {% for course in experience.courses %}
      <li>{{ course }}</li>
      {% endfor%}
      {% endif %}
    </div>
  </div>


  {% endfor %}

</div>