<div id="talks">
  <h1> Charlas y conferencias selectas </h1>
  <i> Para una lista completa, vea el <a href="fullcv.html">CV Completo</a>.</i><br>
  <br>
  {% for talk in site.data.talks limit:10 %}
  <div class="row talk_entry">
    <div class="col-md-12 col-lg-2">
      {{ talk.date | date:'%m.%Y' }}
    </div>
    <div class="col">
      <div class="talk_title">{{ talk.title }}</div>
      <div class="talk_info">
        {% if talk.conference.es %}
        {{ talk.conference.es }}
        {% else %}
        {{ talk.conference }}
        {% endif %}

        <br>

        {% if talk.organizer %}
        {% if talk.organizer.es %}
        {{ talk.organizer.es }}<br>

        {% else %}
        {{ talk.organizer }}<br>

        {% endif %}
        {% endif %}

        {% if talk.institution %}
        {{ talk.institution }}<br>
        {% endif %}

        {% if talk.city.es %}
        {{ talk.city.es }}
        {% else %}
        {{ talk.city }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
