<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  <section class="section">
    <div class="container">

      <div class="columns">
        <div class="column"></div>
        <div class="column is-three-quarters">

          {% include titlebox.html %}

          <div class="content">
            {% unless page.id %}
            <h1>{{ page.title }}</h1>
            {% endunless %}
            {{ content }}
          </div>
        </div>

        <div class="column"></div>
      </div>

    </div>
  </section>

</body>

</html>