---
layout: main
---

<div class="columns is-desktop">

  <div class="post-area column is-three-quarters-desktop">

    <h1>{{ page.title }}</h1>
    <div class="post-date">
      <small>{{ page.date | date: "%d.%m.%Y" }}
        {% for tag in page.tags %}
        <div class="tag">
          {{ tag }}
        </div>
        {% endfor %}
      </small>
    </div>

    <div class="post-content">

      {{ content }}
    </div>

    <div class="post-prev-next">
      {% if page.previous.url %}
      <a href="{{ page.previous.url }}">
        << {{ page.previous.title }} </a>
          {% endif %}
          {% if page.next.url %}
          <a href="{{ page.next.url }}">
            {{ page.next.title }} >>
          </a>
          {% endif %}
    </div>
  </div>

  <div class="column">
    <div class="latest-posts">
      <h3>Últimas publicaciones</h3>
      {% for post in site.posts limit: 5 %}
      <div class="next-posts">
        <a href="{{ post.url }}">{{ post.title }}</a><br>
        <small>
          {{ post.date | date: "%d.%m.%Y" }}<br>

          {% for tag in page.tags %}
          <div class="tag">
            {{ tag }}
          </div>
          {% endfor %}

        </small>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>